a {
	text-decoration: none;
}

.site {
	align-items: center;
	display: flex;
	flex-direction: column;
  justify-content: center;
	padding-top: 50px;
}

.content {
	background-color: #e7a61a;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding: 15px;
}

.hidden {
  display: none;
}

.delete-item {
  color: red;
}

.mark-item:checked ~ .item-content{
  text-decoration: line-through;
}

.delete-item {
	visibility: hidden;
}

.list-item:hover .delete-item {
	visibility: visible;
}

/* forms */

input {
	border: 0;
	padding: 5px;
}

input:focus {
	appearance: none;
	outline: none;
}
